.app {
  display: flex;
}

.navbar {
  width: 250px;
  height: 100vh;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

.nav {
  padding-left: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.sidebar {
  width: 200px; /* Adjust the width as needed */
  padding-top: 5px; /* Add padding to separate from navbar brand */
}

.nav.flex-column {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-link:hover {
  color: #dee2e6;
}

.nav-link.active {
  font-weight: bold;
}

.container {
  margin-left: 250px; /* Same width as Navbar */
  padding: 20px;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/